<!DOCTYPE html>

<div>Authenticate User
    <form ng-submit='submitSearchRequest()'>
        Keyword:  <input type="text" name="keyword" ng-model="keyword"/>
    </form>
</div>
<!-TODO: Fix all this -->
<div ng-if="loginSuccess">
    <h1>Welcome back, {{firstName}}!</h1>
    <br>
    <h1>Your current account balance is: ${{accountBalance}}</h1>

</div>

<div>Linked In Test
    <form ng-submit='submitTestRequest()'>
        Keyword:  <input type="text" name="keywordTest" ng-model="keywordTest"/>
    </form>
</div>
<!-TODO: Fix all this -->
<div ng-if="loginSuccess">
    <h1>Welcome back, {{firstName}}!</h1>
    <br>
    <h1>Your current account balance is: ${{accountBalance}}</h1>

</div>