<!DOCTYPE html>
<div ng-controller = "mainController" class="overlay">  <!--This div needs to eventually go into a partials folder.  need node partials module configured -->
    <div class="float-right">
        <a class="btn-basic" href="" ng-click="goToDocuments()">DOCUMENTS</a>
        <a class="btn-basic" href="" ng-click="goToFAQs()">FAQs</a>
        <a class="btn-basic" href="" ng-click="goToPlans()">SEARCH</a>
        <a class="btn-basic" href="" ng-click="goToLogin()">LOG IN</a>
        <a class="btn-basic" href="" ng-click="goToIntro()">HOME</a>
    </div>
</div>